appdirs==1.4.4
atomicwrites==1.4.0
autoviz==0.1.905
branca==0.8.1
emoji==2.14.0
folium==0.19.2
ipython==8.31.0
jsonpointer==2.1
lightgbm==4.5.0
matplotlib==3.10.0
mkl-service==2.4.0
pandas-dq==1.29
protobuf==3.20.3
pyamg==5.2.1
pyasn1-modules==0.2.8
pycurl==7.45.2
pyls-spyder==0.4.0
pyproj==3.7.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pywin32==305.1
setuptools==69.5.1
textblob==0.18.0.post0
wheel==0.43.0
wordcloud==1.9.4
xgboost==1.6.2
xlrd==2.0.1
